doctype xml plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"

plist(version='1.0'): dict
	key CFBundleDevelopmentRegion
	string English

	key CFBundleGetInfoString
	string <%=name%>

	key CFBundleIconFile
	string

	key CFBundleIdentifier
	string com.Growl.WebKit.etor

	key CFBundleInfoDictionaryVersion
	string 6.0

	key CFBundleName
	string <%=name%>

	key CFBundlePackageType
	string GWKM

	key CFBundleShortVersionString
	string <%=version%>

	key CFBundleSignature
	string LOBA

	key CFBundleVersion
	string 1.0

	key CSResourcesFileMapped
	string yes

	key GrowlHasShadow
	string true

	key GrowlPluginAuthor
	string <%=author%>